@media (max-width: 768px) {
    .main .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 84px 15px 50px 15px;
    }
    .wrapper-main{
        margin-left: 0;
    }

}

