@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway:ital@1&display=swap');


.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}
.header {
    background: rgb(0, 0, 0);
}
.header .container {
    display: flex;
    justify-content: space-between;

}

.header__logo{
    margin-top: 22px;
    margin-bottom: 22px;

}

.header__menu{
    display: flex;
}

.header__menu__link{
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    width: 113.8px;
    padding: 28px 0;
    transition: 0.3s;
    text-align: center;

}
.header__menu__link:hover{
    background: rgb(236, 121, 121);
    color: white;
    text-transform: uppercase;
}
.header__menu__link:active{
    background: rgb(171, 73, 73);
    color: white;
    text-transform: uppercase;
}