@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}


.main{
    background: url("../img/main image.png") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding-top: 306px;
    padding-bottom: 185px;
    /*position: relative;*/


}
/*.main:after{*/
/*    content: url("../img/main image.png");*/
/*    position: absolute;*/
/*    background-blend-mode: multiply;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/

/*}*/
.wrapper-main{
    display: flex;
    justify-content: space-between;

}


.main-left__title{
    width: 670px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-top: 72.8px;
    margin-bottom: 54.62px;
}

.main-left__line{
    border: 1px solid rgb(255, 255, 255);
    width: 170px;
    height: 1px;
}

.main-left__text{
    width: 270px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 42.5px;
    padding-bottom: 42px;

}


.main-left__button__download{
    width: 270px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 0;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    justify-content: center;

}
.main-left__button__download:hover{
    border: 2px solid rgb(236, 121, 121);
    color: rgb(236, 121, 121);
    transition: 0.3s;


}

.main-right__form{
    width: 470px;
    /*height: 450px;*/
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding-top: 36px;
    padding-bottom: 135.5px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.main-right__title{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.red-free{
    color: rgb(236, 121, 121)

}


.main-right__form input{
    width: 370px;
    padding-bottom: 20px;
    margin-bottom: 31px;
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}

.main-right__form__button{
    position: absolute;
    content: "";
    margin-top: 75px;
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    background: rgb(236, 121, 121);
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;

}

.main-right__form input::placeholder{
    color: rgb(189, 189, 189)v
}





