@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.Reviews{
    padding: 107px 0;

}

.wrapper-reviews-top_title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 39.5px ;
    position: relative;

}

.wrapper-reviews-top_title:after{
    content: "";
    position: absolute;
    width: 170px;
    border: 1px solid rgb(236, 121, 121);
    bottom: 0px;
    left: calc(50% - 85px);

    }
    .wrapper-reviews-top_text{
        align-items: center;
        color: rgb(134, 135, 139);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        margin-top: 40.5px;
}

.wrapper-reviews-bottom{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 83px;

}

.wrapper-reviews-bottom__el1__text, .wrapper-reviews-bottom__el2__text, .wrapper-reviews-bottom__el3__text {
    border-radius: 10px;
    background: rgb(226, 226, 226);
    width: 370px;
    padding: 38px 25px ;
    color: rgb(134, 135, 139);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-bottom: 66px;
    position: relative;

}
.wrapper-reviews-bottom__el1__text:after, .wrapper-reviews-bottom__el2__text:after, .wrapper-reviews-bottom__el3__text:after{
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgb(226, 226, 226);
    bottom: -20px;
    left: 70px ;

}


.wrapper-reviews-bottom__el1__data1, .wrapper-reviews-bottom__el2__data2, .wrapper-reviews-bottom__el3__data3{
    display: flex;
    justify-content:space-between ;
    gap: 30px;

}


.wrapper-reviews-bottom__el1__data1__name, .wrapper-reviews-bottom__el2__data2__name,.wrapper-reviews-bottom__el3__data3__name {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 269px;
}

.wrapper-reviews-bottom__el1__data1__prof, .wrapper-reviews-bottom__el2__data2__prof, .wrapper-reviews-bottom__el3__data3__prof{
    padding-top: 18px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

@media (max-width: 1200px) {

    .Reviews{
        padding: 50px 0 57px;

    }
    .wrapper-reviews-top_title {
        font-size: 24px;
        line-height: 28px;
        padding: 50px 0;
    }

    wrapper-reviews-top_title:after{
        width: 142px;
        left: calc(50% - 71px);

    }

    .wrapper-reviews-top_text{
        height: 21px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 32.5px;
    }

    .wrapper-reviews-bottom{
        gap: 20px;
        padding-top: 32px;
    }

    .wrapper-reviews-bottom__el1__text, .wrapper-reviews-bottom__el2__text, .wrapper-reviews-bottom__el3__text {
        width: 317px;
        padding: 50px 33px ;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 46px;
    }
    .wrapper-reviews-bottom__el1__data1, .wrapper-reviews-bottom__el2__data2, .wrapper-reviews-bottom__el3__data3{
        gap: 20px;
    }

    .wrapper-reviews-bottom__el1__data1__name, .wrapper-reviews-bottom__el2__data2__name,.wrapper-reviews-bottom__el3__data3__name {
        font-size: 18px;
        line-height: 25px;
        width: 230px;
    }
    .wrapper-reviews-bottom img{
        width: 63px;
        height: 63px;
    }

    .wrapper-reviews-bottom__el1__data1__prof, .wrapper-reviews-bottom__el2__data2__prof, .wrapper-reviews-bottom__el3__data3__prof{
        padding-top: 9px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 1000px) {
    .wrapper-reviews-bottom__el1__text, .wrapper-reviews-bottom__el2__text, .wrapper-reviews-bottom__el3__text {
        width: 260px;
        padding: 25px 15px ;
        margin-bottom: 36px;


    }
    .wrapper-reviews-bottom__el1__data1__name, .wrapper-reviews-bottom__el2__data2__name,.wrapper-reviews-bottom__el3__data3__name {
        width: 170px;
        font-size: 12px;


    }
    .wrapper-reviews-bottom img{
        width: 45px;
        height: 45px;

    }
    .wrapper-reviews-bottom__el1__data1, .wrapper-reviews-bottom__el2__data2, .wrapper-reviews-bottom__el3__data3{
        justify-content: flex-start;
    }


}




@media (max-width: 870px){
    .wrapper-reviews-bottom__el1__data1, .wrapper-reviews-bottom__el2__data2, .wrapper-reviews-bottom__el3__data3{
        justify-content: flex-start;
    }

    .wrapper-reviews-bottom__el1__text, .wrapper-reviews-bottom__el2__text, .wrapper-reviews-bottom__el3__text {
        width: 240px;
        padding: 25px 17px ;
        font-size: 12px;
        margin-bottom: 32px;
    }
    .wrapper-reviews-bottom__el1__data1__name, .wrapper-reviews-bottom__el2__data2__name,.wrapper-reviews-bottom__el3__data3__name {
        width: 135px;
        font-size: 12px;
    }
}

