@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway&display=swap');


container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.Design{
    background: url("../img/image design.jpeg") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;;
    background-position: center;
    background-size: cover;
    padding: 70px 0;

}

.design__block-top{
    text-align: center;
}

.design__block-top__title{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 40px;


}
 .design__block-top__line{
     border: 1px solid rgb(255, 255, 255);
     width: 170px;
     height: 1px;
     margin: 0 auto 40px;
 }

 .design__block-top__text{
     color: rgb(255, 255, 255);
     font-family: Raleway;
     font-size: 18px;
     font-weight: 400;
     line-height: 21px;
     text-align: center;
     margin-bottom: 80px;
 }

.design__button{
    width: 370px;
    /*height: 58px;*/
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 140px;
    margin: 0 auto;


}

.design__button__download{
    font-family: Open Sans;
     font-size: 18px;
     font-weight: 600;
     color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;

 }
