@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}


.main{
    background: url("../img/main image.png") rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding-top: 306px;
    padding-bottom: 185px;

}

.wrapper-main{
    display: flex;
    justify-content: space-between;

}

.main-left__title{
    width: 670px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-top: 72.8px;
    margin-bottom: 54.62px;
}

.main-left__line{
    border: 1px solid rgb(255, 255, 255);
    width: 170px;
    height: 1px;
}

.main-left__text{
    width: 270px;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 42.5px;
    padding-bottom: 42px;

}


.main-left__button__download{
    width: 270px;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 0;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    justify-content: center;

}
.main-left__button__download:hover{
    border: 2px solid rgb(236, 121, 121);
    color: rgb(236, 121, 121);
    transition: 0.3s;


}

.main-right__form{
    width: 470px;
    /*height: 450px;*/
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 36px 50px 135px 50px;
    position: relative;
}

.main-right__title{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.red-free{
    color: rgb(236, 121, 121)

}


.main-right__form input{
    width: 370px;
    padding-bottom: 20px;
    margin-bottom: 31px;
    border: none;
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(189, 189, 189);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}

.main-right__form__button{
    position: absolute;
    content: "";
    margin-top: 75px;
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    background: rgb(236, 121, 121);
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;

}

.main-right__form input::placeholder{
    color: rgb(189, 189, 189)v
}

@media(max-width: 1200px) {

    .main {
        padding-top: 136px;
        padding-bottom: 132px;

    }


    .main-left__title {
        width: 454.36px;
        font-size: 36px;
        line-height: 42px;
        text-align: left;
        margin-top: 37.61px;
        margin-bottom: 40.99px;

    }

    .main-left__line {
        width: 115px;

    }

    .main-left__text {
        width: 183px;
        font-size: 14px;
        line-height: 16px;
        padding: 31px 0;

    }

    .main-left__button__download {
        width: 183px;
        padding: 16px 0;
    }

    .wrapper-main {
        padding-left: 60px;
    }

    .main-right__form {
        width: 398px;
        padding: 36px 50px 135.5px 50px;

    }


    .main-right__title {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 106px;
    }

    .main-right__form input {
        width: 298px;
        padding-bottom: 19px;
        margin-bottom: 33px;
    }
}

@media (max-width: 1000px){

    .wrapper-main {
        padding-left: 50px;
        justify-content: space-evenly;
    }

    .main-right__form {
        width: 350px;
        padding: 36px 25px 100px 25px;

    }

    .main-right__form input {
        width: 298px;
        padding-bottom: 19px;
        margin-bottom: 33px;
    }

    .main-right__title {
        margin-bottom: 75px;
    }
}



@media (max-width: 870px){
    .wrapper-main {
        padding-left: 0px;
        justify-content: center;
    }

    .main-left__title {
        width: 350px;
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .main{
        padding: 0 16px 50px;
        text-align: center;

    }
    .wrapper-main{
        display: flex;
        flex-direction: column;
        /*margin-left: 0;*/
    }
    .main-left__banner{
        display: none;
    }

    .main-left__title{
        width: 100%;
        margin: 84px 0 43px ;
        padding: 0 16px;
        text-align: center;
    }

    .main-left__line {
        width: 134px;
        margin: 0 auto 42px;
    }

    .main-left__text {
        width: 100%;
        padding: 31px 0;
        text-align: center;
    }

    .main-left__button__download {
        width: 397px;
        padding: 16px 0;
        margin: 42px auto 56px;
    }
    .main-right__form {
        text-align: center;
        width: 397px;
        padding: 0 28px 51px 20px;
        margin: 0 auto;
    }
    .main-right__title {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        padding: 40px 0;
    }
    .main-right__form input {
        width: 100%;
    }
}

@media (max-width: 450px){
    .main-left__button__download {
        width: 100%;
    }
    .main-right__form {
        width: 100%;
    }
    .main-left__title{
        width: 100%;
        margin: 84px 0 43px ;
        padding: 0 8px;
        text-align: center;
    }
}